body{
    background-color: black;
    color: aliceblue;
    font-family: "Tangerine", cursive;
    margin-top: 20px;
}
p{
    font-family: "Poiret One", sans-serif;
}
.tamañoImg{
    width: 220px;
    height: 220px;
}

.nav-link.active {
    background-color: #efb810 !important;
    padding: 5px;
}